@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
    font-family: "Lexend", sans-serif;
}

.border{
    border-color: gray;
}

.addingColor,.first-class{
    background-color: #B4F461;
    color: black;
    font-weight: 600;
    border: none;
    font-size: 20px;
    border: none;
}

.removingColor{
    border: 1px solid rgba(17, 17, 17, 0.3);
    color:#111111B3;
    font-size: 20px;
    font-weight: 500;
}

